# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
*.env
*.virtualenv
*.venv

# Flask
instance/
.pytest_cache/

# IDEs/Editors
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/
